.about-section{
    padding-bottom: 1vw;
    padding-top: 1vw;
    margin-top: 1vw;
}

.ace-img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: 0 0.5vw 1vw 0 rgba(0, 0, 0, 0.2), 0 0.7vw 2.5vw 0 rgba(0, 0, 0, 0.19);
}

.img-about {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.QR-img{
    width:50% !important;
    height: auto;
    display: block;
    margin: auto;
}

.h1-about {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:black;
}

.h2-about {
    width: 100%; 
    text-align: center;
    border-bottom: 0.25vw solid grey; 
    line-height: 0.25vw;
    font-size: 160%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:grey;
    margin-bottom: 1vw;
}

.h2-about span {
    background: white; 
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.p1-about {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
}

.text-center {
    text-align: center;
}
  
/* Style the counter cards */
.contact-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: rgb(253, 253, 253);
    width: 50%;
    display: block;
    margin: auto;
}

.contact-card:hover{
    transform:none;
}

.intro-column{
    margin-top: 0.7vw;
}
