.h1-before {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hr-before {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5rem;
    margin-block-end: 1.5rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.h2-before{
    display: block;
    font-weight: bold;
    font-size: 1.45rem;
}

.p1-before {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    margin:0px;
    font-size: 1.3rem;
}

.ul-before {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.a1-before {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0.5rem;
    font-size: 1.15rem;
    text-align: center;
    color: gray;
    display: block;
}

.a2-before {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0.3rem;
    font-size: 1.15rem;
    text-align: left;
    color: gray;
}

.ol-before {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.p2-before {
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    margin: 1rem;
    text-align: left;
    font-size: 1.15rem;
}

.p3-before {
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    margin: 0.5rem;
    text-align: left;
    font-size: 1.15rem;
    font-weight: bold;
}

.dropdown-item{
    padding: 0;
}

.tabs-row{
    padding-left: 15px;
    padding-right: 15px;
}

.tabs-container{
    border: 1px solid lightgray;
    border-radius: 5px;
}

.tabs-col{
    border-top: 1px solid lightgray;
}

.contact-method{
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
}

.a3-before {
    margin-left: 3px;
    color: #212529;
}

@media screen and (max-width: 768px) {
    .a1-before, .a2-before{
        font-size: 1rem;
    }
    .h1-before {
        font-size: 1.5rem;
    }
    .h2-before {
        font-size: 1.15rem;
    }
    .p1-before {
        font-size: 1rem;
    }
    .p2-before {
        font-size: 0.9rem;
    }
    .p3-before {
        font-size: 1rem;
    }
    .mobile-hide{
        display: none;
    }
    .tabs-col, .tabs-row{
        font-size: 0.9rem;
    }
    .ol-before, .ul-before{
        padding-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-show{
        display: none;
    }
}

.copy-button{
    float: right;
}