.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:#343a40;
}

.nav-pills .nav-link{
    color: #343a40;
}

.survey{
    float: left;
    width:100%;
}

.canada-main-content{
    width: 100%;
    margin: auto;
}

.sv_main input[type="button"], .sv_main button {
    color: white;
    background-color: #343a40!important;
    font-size: medium;
}

.end-feedback{
    text-align: center;
}

button.dropdown-toggle{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: #343a40;
}

.dropdown-menu{
    width: 100%;
    text-align: center;
    background-color: #343a40;
}

.can-head-menu{
    color: white;
}

@media screen and (max-width: 768px) {
    .sv-string-viewer, .end-feedback{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 991px){
    .canada-mobile-hide{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .canada-mobile-show{
        display: none;
    }
}
