
/* Mobile view */
@media screen and (max-width:1024px){
    .footer-title{
        font-size: medium;
    }
    .footer-content, .rights-reserve{
        font-size: small;
    }
    
    .mobile-hide{
        display: none;
    }
}

/* Desktop view */
@media screen and (min-width:1024px){
    .mobile-show{
        display: none;
    }
}

.footer-middle {
    padding-top: 3rem;
}

.footer-bottom{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-links{
    color:black;
}

a.row{
    margin-left: 0;
}

.footer-title{
    border-bottom: 2px solid black;
    margin-top: 15px;
}

.rights-reserve{
    text-align: center;
}
