/* Mobile view */
@media screen and (max-width:768px){
    .footer-title{
        font-size: medium;
    }
    .footer-content, .rights-reserve{
        font-size: small;
    }
}

.footer-middle {
    padding-top: 3rem;
}

.footer-bottom{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer-links{
    color:black;
}

.footer-title{
    border-bottom: 2px solid black;
    margin-top: 15px;
}

.footer-row{
    margin-left: 0 !important;
}

.rights-reserve{
    text-align: center;
}
