.card{
    margin-left: 2%;
    display: inline-block;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.sideContainer{
    float: left;
    display: contents;
}

.bottom-passage{
    width: 30%;
}

/* Mobile view */
@media screen and (max-width:1024px){
    .mobile-hide{
        display: none;
    }
    .card-title{
        font-size: small;
    }
    .card-text{
        font-size: smaller;
    }
    .list-group{
        width: 45%;
    }
    .list-title{
        font-size: small;
    }
    .list-group-item{
        font-size: smaller;
    }
    .top-passage{
        width: 45%;
    }
}

/* Desktop view */
@media screen and (min-width:1024px){
    .mobile-show{
        display: none;
    }
    .top-passage{
        width: 20%;
    }
}